nav {
    height: 80px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.2);
    position: fixed;
    display: flex;
    justify-content: center;
    ul {
        list-style: none;
        display: flex;
        li {
            width: 150px;
            height: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                text-decoration: none;
                color: $txt-color
            }
            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.1);
                text-decoration: underline;
            }
        }
    }
}
