//font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$bg-color: #f1f4f5;
$txt-color: #282828;
$font: 'Noto Sans', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}